# python
__pycache__/
*.egg-info/

# jupyter
.ipynb_checkpoints

# development
*.vscode

# data directory
data/
data/datasets
data/scene_datasets
data/image_datasets
data/models
tmae/data
mae/data
tmae/examples/output
mae/examples/output
goal_images/

# misc
.DS_Store

# wandb
wandb/
mae/wandb

# tensorboard
tb/
