[submodule "third_party/mjrl"]
	path = third_party/mjrl
	url = git@github.com:aravindr93/mjrl.git
[submodule "third_party/mj_envs"]
	path = third_party/mj_envs
	url = git@github.com:vikashplus/mj_envs.git
[submodule "third_party/trifinger_simulation"]
	path = third_party/trifinger_simulation
	url = git@github.com:ClaireLC/trifinger_simulation.git
[submodule "third_party/mujoco-py"]
	path = third_party/mujoco-py
	url = git@github.com:1heart/mujoco-py.git
[submodule "third_party/habitat-lab"]
	path = third_party/habitat-lab
	url = git@github.com:1heart/habitat-lab.git
[submodule "third_party/dmc2gym"]
	path = third_party/dmc2gym
	url = git@github.com:aravindr93/dmc2gym.git
